<div class="row">
    <h1>Greetings</h1>
    {{!-- 2<img src="greet.jpg" alt="NO PICTURE" width="500" height="333"> --}}
    <div class="message"></div>

    {{#if message}}
    <div class="textBox">{{message}}</div>
    {{else}}
    <div class="textBox">{{error}}</div>
    {{/if}}

    <div class="textbox">
        <form action="/" method="POST">
            <strong>Name: </strong>
            <input type="text" name="nameEntered" class="nameEntered" placeholder="enter name">
            <div class="counter">{{count}}</div>
    </div>

    <div class="radioGreet">
        <input type="radio" name="language" value="IsiXhosa">IsiXhosa
        <input type="radio" name="language" value="IsiZulu">IsiZulu
        <input type="radio" name="language" value="Venda">Venda
    </div>

    <div>
        <button type="submit" class="greetUpdate">greet me</button>
    </div>

    {{!-- {{#if messages.info}}
        <div class="entry">
            <h1> {{messages.info}}</h1>
        </div>
        {{/if}} --}}
    <br>
    </form>

    <div>
        <a href="/greeted">
            <button type="submit" class="greeted">Greeted</button>
        </a>
    </div>

    <br>

    <div>
        <a href="/reset">
            <button type="submit" class="reset">Reset</button>
        </a>
    </div>

</div>